<!DOCTYPE html>
<html>
<head>
    <title>Lista de Usuários</title>
</head>
<body>
    <h1>Lista de Usuários</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {{#each usuarios}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.nome}}</td>
                <td>{{this.email}}</td>
                <td>
                    <a href="/edit-usuario/{{this.id}}">Editar</a>
                    <a href="/del-usuario/{{this.id}}">Deletar</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <a href="/usuario">Adicionar Novo Usuário</a>
</body>
</html>
